@font-face {
    font-family: 'GilroyBold';
    src: local('GilroyBold'), url(./fonts/Gilroy-Bold.otf) format('truetype');
  }


  @font-face {
    font-family: 'GilroySemiBold';
    src: local('GilroySemiBold'), url(./fonts/Gilroy-Semibold.otf) format('truetype');
  }

  @font-face {
    font-family: 'GilroyMedium';
    src: local('GilroyMedium'), url(./fonts/Gilroy-Medium.otf) format('truetype');
  }
  body{
    margin: 0px;
  
  }